body {
  font-family: "Raleway";
}

.title {
  background-color: silver;
  height: 50%;
}
ul {
  text-align: justify;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}

li {
  display: inline-block;
}
#opening a {
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  color: #5f656d;
  opacity: 0.9;
  letter-spacing: .04rem;
}
#elon {
  margin: 8px auto;
  display: block;
  width: 50%;
  height: 50%;
  max-height: 375px;
  max-width: 250px;
  position: static;
  z-index: 999;
  background-color: silver;
  border-radius: 5%;
  margin-bottom: 10px;
}

#vision {
  background-image: url("https://wallpapershome.com/images/wallpapers/earth-7251x4018-planet-space-10121.jpg");
  color: white;
  background-size: cover;
  max-width: 100%;
}

#vision-text {
  height: 30%;
  text-align: center;
  padding-top: 5px;
}
.vision-image {
  height: 35%;
}
.vision-image img {
  max-height: 25%;
  width: 100%;
}

.vision-image h4 {
  font-size: 1.7em;
  text-align: center;
  padding: 0.5em;
}

#the-line {
  top: 0;
  position: absolute;
  margin-left: 27.5px;
  width: 5px;
  height: 100%;
  background-color: SaddleBrown;
  opacity: 0.85;
  z-index: 0;
  padding-bottom: 100px;
}

#timeline h4{
  text-align: center;
  padding: 5px 0;
  margin: 5px 0;
  margin-top: 20px;
  border: solid 2px silver;
  word-spacing: 0.3em;
  letter-spacing: 0.035em;
  background-color: gray;
}

.bubble {
  position: relative;
  background-color: #4CAF50;
  float: left;
  font-family: Roboto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 20;


}

.bubble h5 {
  text-align: center;
  transform: translateY(20%);
}

.info-box {
  position: relative;
  margin-left: 75px;
  margin-bottom: 6em;

}
.info-box p {
  padding: 5px;
  background-color: #88c58c;
  border-radius: 10px;
  font-family: Roboto;
  letter-spacing: 0.011em;
  color: #292B2C
}

.info-box a {
  color: #292B2C;
  font-weight: bold;
}

#ending h4 {
  text-align: center;
  padding: 6px 1.5px;
  margin:0;
  word-spacing: 0.27em;
  letter-spacing: 0.035em;
  background-color: #EE872A;
  opacity: 0.9;
  border-radius: 6px;
  
}

.references img {
  display: block;
  text-align: center;
  margin: 2px auto;
  margin-top: 5px;
  max-width: 100%;
  max-height: 250px;
  border: solid 2px silver;
  border-radius: 6px;
  
  
}

#end {
  margin: 0 10px;
  margin-top: 40px;
  border-top: solid 2px silver;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 12.5px;
  
}

#end h5 {
  font-size: 1em;
  text-decoration: none;
  opacity: 0.9;
  letter-spacing: .04rem;
}
